
<h1>Your cart has <%=cart.length%> items </h1>
<% @cart.each do |product| %>
    <li><%=product["name"]%></li>
<% end %>
<div class="d-grid gap-2">
<%= link_to "Checkout", cart_path(cart), class="btn btn-primary" type="button" %>
</div>